/* 通用样式文件 */

/* 加载 */

.mask {
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
}

.popup {
	position: absolute;
	z-index: 999;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .1);
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.popup-middle {
	width: 200px;
	height: 100px;
	border-radius: 10px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.desc {
	line-height: 100px;
	margin-left: 30px;
}
