
/*通用 */

.uni-flex {
	display: flex;
	flex-direction: row;
}

.uni-flex-item {
	flex: 1;
}

.uni-row {
	flex-direction: row;
}

.uni-column {
	flex-direction: column;
}

.uni-h6 {
	font-size: 24upx;
	color: #8f8f94;
}

.uni-h5 {
	font-size: 28upx;
	color: #8f8f94;
}

.uni-h4 {
	font-size: 36upx;
}

.uni-h3 {
	font-size: 48upx;
	font-weight: 600;
}

.uni-h2 {
	font-size: 60upx;
	font-weight: 600;
}

.uni-h1 {
	font-size: 72upx;
	font-weight: 600;
}

.uni-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.uni-input {
	height: 50upx;
	min-height: 50upx;
	padding: 15upx 0;
	line-height: 50upx;
}

.uni-label {
	width: 210upx;
	word-wrap: break-word;
	word-break: break-all;
}



/*卡片视图 */

.uni-card {
	background: #fff;
	border-radius: 8upx;
	margin: 20upx;
	position: relative;
	box-shadow: 0 2upx 4upx rgba(0, 0, 0, .3);
}

.uni-card-content {
	font-size: 30upx;
}

.uni-card-content-inner {
	position: relative;
	padding: 30upx;
}

.uni-card-footer,
.uni-card-header {
	position: relative;
	display: flex;
	min-height: 50upx;
	padding: 20upx 30upx;
	justify-content: space-between;
	align-items: center;
}

.uni-card-header {
	font-size: 36upx;
}

.uni-card-footer {
	color: #6d6d72;
}

.uni-card-footer:before,
.uni-card-header:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2upx;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-card-header:after {
	top: auto;
	bottom: 0;
}

.uni-card-media {
	justify-content: flex-start;
}

.uni-card-media-logo {
	height: 84upx;
	width: 84upx;
	margin-right: 20upx;
}

.uni-card-media-body {
	height: 84upx;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.uni-card-media-text-top {
	line-height: 36upx;
	font-size: 34upx;
}

.uni-card-media-text-bottom {
	line-height: 30upx;
	font-size: 28upx;
	color: #8f8f94;
}

.uni-card-link {
	color: #007AFF;
}




/* 列表 */

.uni-list {
	background-color: #FFFFFF;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.uni-list:after {
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list:before {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	left: 0;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list-cell {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.uni-list-cell-hover {
	background-color: #eee;
}

.uni-list-cell-pd {
	padding: 22upx 30upx;
}

.uni-list-cell-left {
	padding: 0 30upx;
}

.uni-list-cell-db,
.uni-list-cell-right {
	flex: 1;
}

.uni-list-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 30upx;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list .uni-list-cell:last-child:after {
	height: 0upx;
}

.uni-list-cell-last.uni-list-cell:after {
	height: 0upx;
}

.uni-list-cell-divider {
	position: relative;
	display: flex;
	color: #999;
	background-color: #f7f7f7;
	padding: 10upx 20upx;
}

.uni-list-cell-divider:before {
	position: absolute;
	right: 0;
	top: 0;
	left: 0upx;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list-cell-divider:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0upx;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list-cell-navigate {
	padding: 22upx 30upx;
	line-height: 48upx;
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.uni-list-cell-navigate {
	padding-right: 36upx;
}

.uni-navigate-badge {
	margin-right: 20upx;
}

.uni-list-cell-navigate.uni-navigate-right:after {
	font-family: uniicons;
	content: '\e583';
	position: absolute;
	right: 24upx;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uni-list-cell-navigate.uni-navigate-bottom:after {
	font-family: uniicons;
	content: '\e581';
	position: absolute;
	right: 24upx;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uni-list-cell-navigate.uni-navigate-bottom.uni-active:after {
	font-family: uniicons;
	content: '\e580';
	position: absolute;
	right: 24upx;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uni-collapse.uni-list-cell {
	flex-direction: column;
}

.uni-list-cell-navigate.uni-active {
	background: #eee;
}

.uni-list.uni-collapse {
	box-sizing: border-box;
	height: 0;
	overflow: hidden;
}

.uni-collapse .uni-list-cell {
	padding-left: 36upx;
}

.uni-collapse .uni-list-cell:after {
	left: 52upx;
}

.uni-list.uni-active {
	height: auto;
}
/* 图文列表 */

.uni-media-list {
	padding: 22upx 30upx;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	flex-direction: row;
}

.uni-navigate-right.uni-media-list {
	padding-right: 74upx;
}

.uni-pull-right {
	flex-direction: row-reverse;
}

.uni-pull-right>.uni-media-list-logo {
	margin-right: 0upx;
	margin-left: 20upx;
}

.uni-media-list-logo {
	height: 84upx;
	width: 84upx;
	margin-right: 20upx;
}

.uni-media-list-logo image {
	height: 100%;
	width: 100%;
}

.uni-media-list-body {
	height: 84upx;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
}

.uni-media-list-text-top {
	width: 100%;
	line-height: 36upx;
	font-size: 34upx;
}

.uni-media-list-text-bottom {
	width: 100%;
	line-height: 30upx;
	font-size: 28upx;
	color: #8f8f94;
}