/* 列表 */

.uni-list {
	background-color: #FFFFFF;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.uni-list:after {
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list:before {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list-cell {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.uni-list-cell-hover {
	background-color: #eee;
}

.uni-list-cell-pd {
	padding: 22px 30px;
}

.uni-list-cell-left {
	padding: 0 30px;
}

.uni-list-cell-db,
.uni-list-cell-right {
	flex: 1;
}

.uni-list-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 30px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list .uni-list-cell:last-child:after {
	height: 0px;
}

.uni-list-cell-last.uni-list-cell:after {
	height: 0px;
}

.uni-list-cell-divider {
	position: relative;
	display: flex;
	color: #999;
	background-color: #f7f7f7;
	padding: 10px 20px;
}

.uni-list-cell-divider:before {
	position: absolute;
	right: 0;
	top: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list-cell-divider:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc;
}

.uni-list-cell-navigate {
	padding: 22px 30px;
	line-height: 48px;
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.uni-list-cell-navigate {
	padding-right: 36px;
}

.uni-navigate-badge {
	margin-right: 20px;
}

.uni-list-cell-navigate.uni-navigate-right:after {
	font-family: uniicons;
	content: '\e583';
	position: absolute;
	right: 24px;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uni-list-cell-navigate.uni-navigate-bottom:after {
	font-family: uniicons;
	content: '\e581';
	position: absolute;
	right: 24px;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uni-list-cell-navigate.uni-navigate-bottom.uni-active:after {
	font-family: uniicons;
	content: '\e580';
	position: absolute;
	right: 24px;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uni-collapse.uni-list-cell {
	flex-direction: column;
}

.uni-list-cell-navigate.uni-active {
	background: #eee;
}

.uni-list.uni-collapse {
	box-sizing: border-box;
	height: 0;
	overflow: hidden;
}

.uni-collapse .uni-list-cell {
	padding-left: 36px;
}

.uni-collapse .uni-list-cell:after {
	left: 52px;
}

.uni-list.uni-active {
	height: auto;
}
/* 图文列表 */

.uni-media-list {
	padding: 22px 30px;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	flex-direction: row;
}

.uni-navigate-right.uni-media-list {
	padding-right: 74px;
}

.uni-pull-right {
	flex-direction: row-reverse;
}

.uni-pull-right>.uni-media-list-logo {
	margin-right: 0px;
	margin-left: 20px;
}

.uni-media-list-logo {
	height: 84px;
	width: 84px;
	margin-right: 20px;
}

.uni-media-list-logo image {
	height: 100%;
	width: 100%;
}

.uni-media-list-body {
	height: 84px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
}

.uni-media-list-text-top {
	width: 100%;
	line-height: 36px;
	font-size: 34px;
}

.uni-media-list-text-bottom {
	width: 100%;
	line-height: 30px;
	font-size: 28px;
	color: #8f8f94;
}





